@import url("https://fonts.googleapis.com/css2?familyfamily=Open+Sans&display=swap");
body {
  background-color: #202124;

}

.main {
  margin-top: 260px; 
}

.logo-img {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  display: block;
  width: 30%;
  min-width: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 350px;
  border: 1px solid grey;
  border-radius: 24px;
  background-color: #202020;
  color: white;
}
.search-input:hover {
  background-color: #303134;
  cursor: text;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #e8eae1;
  background-color: #303134;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1.875rem 0.625rem 0rem 0.625rem;
}
