* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  background-color: #202124;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.content {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-img {
  width: 270px;
  height: 90px;
}
.search-input {
  width: 500px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 24px;
  font-family: arial;
  font-size: 14px;
  padding-left: 20px;
  background-color: #202124;
  color: white;
  outline: none;
}
.search-input:hover {
  background-color: #303134;
  cursor: text;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #e8eae1;
  background-color: #303134;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 10px;
  cursor: pointer;
}
